*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.dashboard{
    height: 790px;
    width: 200px;
    background: blue;
}
.dash{
    font-size: 20px;
    padding: 10px;
    color: white;
    align-items: center;
    padding-bottom: 50px;
}
.icondiv{
    font-size: 30px;
    color: white;
}
.DB{
    column-gap: 15px;
    display: flex;
}
.db{
    padding: 5px;
}
.home{
    font-size: 15px;
    color: white;
    align-items: center;
}
.icon{
    font-size: 15px;
    color: white;
    padding: 3px;
}
.h{
    padding: 5px;
    column-gap: 25px;
    display: flex;
}
.tas{
    padding: 5px;
    column-gap: 25px;
    display: flex;
    color: white;
}
.mainhome{
    row-gap: 10px;
    padding: 6px; 
    padding-bottom: 50px;
    
}
.setting{
    row-gap: 10px;
    padding: 6px; 
}
.maindiv{
    display: flex;
    background-color: grey;
    height: fit-content;
}
.bell{
    text-align: center;
}
.bellpic{
    padding-top: 17px;
}
.navbar{
    height: 125px;
    width: 974px;
    padding: 10px 40px 10px 30px; 
    background-color: white;
}
.io{
    background-color: whitesmoke;
}
.search{
    display: flex;
    color: black;
    display: flex;
    column-gap: 10px;
}
.nav{
    font-size: 15px;
    color: black;
    align-items: center;
    display: flex;
    column-gap: 380px;
     padding: 5px; 
}
.be{
    color: black;
    display: flex;
    column-gap: 15px;
    padding: 5px 4px 2px 5px;
}
.morgan{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffff00;
    align-items: center;
} 
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10%;
}
.mg{
    display: flex;
    column-gap: 15px;
    padding-bottom: 5px;
}
.hi{
    padding: 3px;
}
.search-input{
    width: 300px;
    border-radius: 20px;
    height: 25px;
}
.New{
    display: flex;
    column-gap: 170px;
    height: 50px;
    width: 315;
    row-gap: 40px;
}
.new{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    column-gap: 20px;
    border-radius: 30%;
    height: 40px;
    width: 105; 
}
.ni{
    height: 20px;
    width: 90px;
    column-gap: 20px;
    border-radius: 30%;
    background-color: blue;
    padding: 5px;
    text-align:  center;
}
.your{
   padding: 20px;
   padding-top: 5px;
    display: flex;
    column-gap: 10px;
    height: fit-content;
}
.yp{
    color: black;
    background-color: grey;
}
.cool{
    padding: 20px 10px 10px 10px;
}
.first{
    display: flex;
    align-items: center;
    height: 185px;
    width: 540px;
    column-gap: 20px;
    color: black;
    background-color: yellow;
    padding: 7px;
}
.emoji{
    display: flex;
    justify-content: end;
    column-gap: 10px;
    padding: 5px;
}
.f1{
    height: 160px;
    width: 250px;
    background-color: white;
    color:  black;
    padding: 5px;
    border-radius: 10px;
    border-left: 10px solid gold;
}
.p1{
    padding: 0px 15px 10px 15px;
}
p{
    padding: 10px 15px 0px 15px;   
}
.p2{
    padding: 0px 15px 0px 15px;  
}

.announce{
    height: fit-content;
    width: 459px;
    color: black;
    background-color: grey;
} 
.project{
    height: fit-content;
    width: 554px;
    row-gap: 20px;
    column-gap: 20px;
    color: black;
    background-color: grey;
} 
.ANN{
    height: 271px;
    width: 445px;
    column-gap: 20px;
    color: black;
    background-color: red;
    padding: 7px; 
}
.AN1{
    height: 254px;
    width: 430px;
    column-gap: 20px;
    color: black;
    background-color: white;
    padding: 7px; 
}

.ng{
    column-gap: 10px;
    padding: 8px;
    display: flex; 
}



